*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Montserrat', sans-serif;
    
}
header{
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    position: sticky;
    z-index: 1;
}
.nav_bar
{
    
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    height: 80px;
    

}
#logo
{
    padding: 10px;
    font-size: 20px;
    margin: 30px;
    margin-left: 50px;
    width: 50%;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.menu
{
    margin-right: 150px;
    margin-left: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.menu a
{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}
.menu a:hover{
    color: rgb(148, 120, 7);
    transition: 0.4s;
}
span{
    border: 1px solid rgb(148, 120, 7);
    padding: 7px;
    margin: 5px;
}
span:hover{
    color: rgb(148, 120, 7);
    border: 1px solid white;
    transition: 0.4s;
}

.about_menu
{
    
    padding-top: 100px;
    margin-top: 300px;
    margin: 20px;
    width: 50%;

}



.heading
{
    display: flex;
}    
#fedit1
{
    margin-top: 30px;
    letter-spacing: 2px;
   border-bottom: 2px solid rgb(207, 167, 6);
   padding: 0 0 15px;

    
}

#fedit2
{
    margin-top: 30px;
    opacity: 0.5;
    letter-spacing: 2px;
}

.menu-list
{
    background-color: rgb(200, 206, 206);
    margin: 50px;
    margin-left: 300px;
    margin-right: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.menu-list a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.drinks-section
{
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.drink-items{
    
    width: 100%;
}
.drink-items h1
{

    font-size: 40px;
    color: rgb(207, 167, 6);
    letter-spacing: 7px;
    padding: 20px;
}
.drink-items h3

{
margin-left: 20px;
font-weight: bolder;
}

.drink-items h3 span{
    border: 0px;
    color: rgb(207, 167, 6);
}

.drink-items p{
    margin-left: 20px;
    width: 50%;
    font-size: 15px;
    margin-top: -10px;
    text-align: start;
    opacity: 0.5;
}
table{
    height: 100px;
    border-style: none;
}

.cocktails
{
    width: 100%;
}

.cocktails h1{
    font-size: 40px;
    color: rgb(207, 167, 6);
    letter-spacing: 7px;
    padding: 20px;
}
.cocktails h2{
    margin-top: 10px;
    color: rgb(244, 197, 10);
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
}
.cocktails h3
{
    margin-left: 20px;
font-weight: 900;
}
.cocktails h4{
    margin-left: 20px;
}

.cocktails table p{

    margin-left: 20px;
    width: 50%;
    font-size: 15px;
    margin-top: -10px;
    text-align: start;
    opacity: 0.5;
}




.light h1{
    font-size: 40px;
    color: rgb(207, 167, 6);
    letter-spacing: 7px;
    padding: 20px;   
}
.light h3{
    margin-left: 20px;
font-weight: 900;
}

.light p{
 
    margin-left: 20px;
    width: 50%;
    font-size: 15px;
    margin-top: -10px;
    text-align: start;
    opacity: 0.5;
}


.services-row
{
display: flex;
align-items: center;
justify-content: start;
flex-wrap: wrap;
}

.menus

{
    flex-basis: 30%;
   
    padding: 20px;
    margin-top: 30px;

}

.menus h3{
    font-weight: 900;
    font-size: 20px;
}
.menus p{
    margin-left: 2px;
    width: 50%;
    font-size: 15px;
    margin-top: -10px;
    text-align: start;
    opacity: 0.5;
}

.color
{
    font-size: 40px;
    color: rgb(207, 167, 6);
    letter-spacing: 7px;
    padding: 20px; 
}

#footer
{
    background-color:  black;
    height: 350px;
    margin-top: 300px;
    width: 100%;
}

#footer h4 a{
    text-decoration: none;
    color: rgb(148, 120, 7);
    line-height: 100px;
    height: 100px;
    margin-left: 100px;
    
    
    
    
}


#footer h4 a:hover{
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

.navbar{

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 75px;
    margin-right: 100px;
   
    
    margin-bottom: 20px;
   
   
    
}

.menus_{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    
    margin-right: 350px;
}
.menus_ a{
    
    
    color: white;
    text-decoration: none;
    margin-right: 50px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 40px;
    
}
.menus_ a:hover
{
    color: rgb(189, 159, 39);
   transition: 0.4s;
    cursor: pointer;
}


.icons{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    height: 80px;
    margin-right: 1350px;
    margin-left: 100px;
    margin-top: 20px;
    
    
    
}
.icons a{
    text-decoration: none;
    height: 10px;
    color: rgb(148, 120, 7);
}
.icons a:hover i{
    color: white;
    transition: 0.4s;
}
